<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

<%- include('partials/header') %>
<%- include('partials/loader') %>

<div style="height: 80vh; text-align: center;">
    <p style="margin-top: 50px; font-size: 44px; font-weight: bold;">Page you are looking doesn't exist</p>
    <div>
        <img src="img/404.gif" alt="404 error" height="450">
    </div>
    <a href="/">
        <button class="btn btn-danger btn-lg">Back to Homepage</button>
    </a>

</div>





<%- include('partials/footer') %>