<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Gallerys</title>

  <!-- Favicons -->
  <link href="img/hopegivers.png" rel="icon">
  <link href="img/hopegivers.png" rel="apple-touch-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <style media="screen">
    .card:hover {
      background-color: #34317A;
      opacity: 0.8;
      transform: scale(1.06);
    }

    .card {
      /*padding-bottom: 10px;*/
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <%- include('partials/header') %>
  <%- include('partials/loader') %>
  <div class="jumbotron text-light" style="background-color: #34317A;">
    <div class="text-center">
      <h1>Our Gallery</h1>
    </div>

  </div>

  <div class="container mt-4">
    <div class="row mt-3">
      <% foundGallery.forEach(element =>{ %>
      <div class="col-md-4">
        <div class="card">
          <img class="img-fluid img-thumbnail" src="<%= element.image %>" class="card-img-top" alt="...">
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="mb-5">

  </div>

  <%- include('partials/footer') %>
</body>

</html>